.dropdown {
  width: 118px;
  min-height: 32px;
  background-color: #1bc5bd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 5px;
  .dropdownImageContainer {
    position: absolute;
    top: 25%;
    right: 12px;
    width: 12px;
    img {
      width: 100%;
    }
  }
  .dropdownText {
    padding: 6px;
    color: #ffffff;
  }
  .dropdownText:hover,
  .dropdownImageContainer img:hover {
    cursor: pointer;
  }
}
